/robot_brain/build
/robot_brain/managed_components

robot_brain/build
robot_brain/managed_components

/robot_camera/build
/robot_camera/managed_components

robot_camera/build
robot_camera/managed_components

build

robot_brain/components
./robot_brain/components